.nav ul {
    background-color: rgb(115, 177, 115);
    margin: 0 auto;
    position: relative;
    float: left;
    width: 98%;
    display: flex;
  justify-content: center;
  text-align: left;
  align-self: center;
}

.nav ul li {
    display: inline;
    float: left;
    position: relative;
}

.nav ul li a {
    display: block;
    color: black;
    padding: 14px;
    text-decoration: none;
}

.nav ul li a:hover {
    background-color:rgb(141, 212, 141);;
}

.nav ul li:hover > ul {
    visibility: visible;
}

.nav ul ul, ul#navigation ul li ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    visibility: hidden;
    position: absolute;
    background-color: rgb(115, 177, 115);;
}

.nav ul ul li a{
    background-color: rgb(115, 177, 115);;
    text-decoration: none;
    width: 150px;
    overflow: hidden;
}
.list {
    text-align: center;
}

ul {
    display: inline-block; 
	text-align: left; 
  }
body {
    font-family: Century Gothic, sans-serif;
    text-align: center;
    list-style-position: inside;
    background-color: rgb(86, 138, 86);
    color: cornsilk;
}

table{
    margin-left:auto; 
    margin-right:auto;
}
