.nav ul {
    list-style-type: none;
    background-color: lightcyan;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav li {
    float: left;

}

.nav li a {
    display: block;
    color: black;
    padding: 14px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: darkcyan;
}